:root {
    --azul-escuro: #00296B; 
    --azul-medio: #003F88; 
    --azul-claro: #00509D; 
    --amarelo-escuro: #FDC500; 
    --amarelo-claro: #FFD500; 
    --branco: #FBFAFC; 
    --preto: #1F1F1F; 
    --cinza: #B5BEC6; 
    --cinza-letras: #BCBCBC; 
}