@import url('cores.css');
@import url('fonts.css');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Montserrat;
    font: 12px;
}

body{
    background-color: var(--branco);
}

/* Topo */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    font-size: 1.2em;
}

#logo a {
    display: inline-flex; 
    width: auto; 
    height: auto;
}

#logo img{
    width: 50px; 
    height: 50px;
}

nav ul{
    display: flex;
    list-style: none;
    text-decoration: none;
    gap: 35px;
}

nav ul li a{
    text-decoration: none;
    color: var(--preto);
}

#login a{
    text-decoration: none;
    color: var(--branco);
    background: var(--azul-claro);
    padding: 5px 10px;
    border-radius: 10px;
}

/* Principal */

.container-dev{
    height: 70vh;
    width: 100%;
    display: flex;
}

.container-dev .esquerda{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
}

.container-dev .direita{
    height: 100%;
    width: 50%;
}

#container-texto{
    font-size: 4em;
    padding: 0 50px;
}

#container-texto h1{
    line-height: 75px;
}

#container-texto h5{
    display: flex;
    justify-content: end;
}

#imagem-dev img{
    object-fit: cover;
}

/* Trilha */

#trilhas{
    margin-top: 250px;
}

.container{
    height: 100vh;
    width: 100%;
    display: flex;
}

.container  .direita-trilha{
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    height: 100%;
    width: 50%;
}

.container h5{
    font-size: 2.5em;
    padding: 0 75px;
}

.container p{
    font-size: 1.5em;
    margin-top: 15px;
    padding: 0 75px;
}

.container img{
    width: 500px;
    height: 430px;
    object-fit: cover;
    margin-top: 30px;
    padding: 0 75px;
}

#coluna{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

.card-trilhas{
    width: 560px;
    height: 160px;
    box-shadow: 0 0 15px #CEDEFF;
}

.card-trilhas .img-trilha{
    width: auto;
    height: auto;
    object-fit: cover;
    float: left;
}

.card-trilhas h4{
    margin-top: 35px;
    font-size: 1.2em;
}

.card-trilhas p{
    font-size: 1em;
}

#icone{
    background: var(--azul-claro);
    color: var(--branco);
    padding: 20px;
    object-fit: cover;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

/* Sobre */

#sobre{
    margin-top: 100px;
}

.container h1{
    font-size: 2.5em;
    padding: 0 75px;
}

.foto-equipe{
    width: 520px;
    height: 350px;
    box-shadow: #CEDEFF 0 0 15px;
    margin: 0 0 35px 80px;
}

.foto-equipe-esquerda{
    margin: 25px 0 0 70px;
    width: 520px;
    height: 350px;
    box-shadow: #CEDEFF 0 0 15px;
}

/* Feedbacks */

#feedbacks{
    margin-top: 100px;
}

#feedbacks h1{
    font-size: 2.5em;
    padding: 0 75px;
    margin-top: 25px;
}

.card-feedback{
    margin: 5px;
    width: 745px;
    height: 280px;
    box-shadow: #CEDEFF 0 0 15px;
    
}

.img-feedback img{
    width: 65px;
    height: 65px;
    object-fit: cover;
    padding: 5px;
    margin: 40px 0 0 30px;
    float: left;
}

.nome-feedback{
    margin: 55px 0 0 110px;
    font-size: 1.4em;
}

.texto-feedback{
    margin: 10px 0 0 35px;
}

.container-feedbacks{
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 60px;
    margin: 75px 0 0 -250px;
    overflow: hidden;
}

/* Duvidas frequentes */

#duvidas{
    margin-top: 100px;
}

.card-duvida{
    margin: 0 75px;
    width: 715px;
    height: 110px;
    border-bottom: var(--preto) 1px solid;
    border-top: var(--preto) 1px solid;
    display: flex;
    justify-content: space-between;
}

.card-duvida h1{
    height: 100%;
    font-size: 2.5em;
    margin: auto 0px;
    padding: 10px 0 0 10px;
    display: flex;
    align-items: center;
}

.h1-responde{
    margin-bottom: 50px;
}

.card-duvida img{
    width: 45px;
    height: 45px;
    object-fit: cover;
    padding: 10px;
}