@import url('cores.css');
@import url('fonts.css');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Montserrat;
    font: 12px;
}

body{
    background-color: var(--branco);
}

/* Topo */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    font-size: 1.2em;
}

#logo a {
    display: inline-flex; 
    width: auto; 
    height: auto;
}

#logo img{
    width: 50px; 
    height: 50px;
}

nav ul{
    display: flex;
    list-style: none;
    text-decoration: none;
    gap: 35px;
}

nav ul li a{
    text-decoration: none;
    color: var(--preto);
}

#login a{
    text-decoration: none;
    color: var(--branco);
    background: var(--azul-claro);
    padding: 5px 10px;
    border-radius: 10px;
}

/* Principal */

.container{
    height: 70vh;
    width: 100%;
    display: flex;
}

.container #texto-dev{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
}

.container #imagem-dev{
    height: 100%;
    width: 50%;
}

#container-texto{
    font-size: 4em;
    padding: 0 50px;
}

#container-texto h1{
    line-height: 75px;
}

#container-texto h5{
    display: flex;
    justify-content: end;
}

#imagem-dev img{
    object-fit: cover;
}